
<ion-buttons>
  <ion-note slot="start">
    <p>PORT B</p>
  </ion-note>
</ion-buttons>

<ion-buttons>
  <ion-icon size="large" slot="end" style="margin-left: 5px;" color="success" name="radio-button-{{BIT7? 'on' : 'off' }}-sharp"></ion-icon>
  <ion-icon size="large" slot="end" style="margin-left: 5px;" color="success" name="radio-button-{{BIT6? 'on' : 'off' }}-sharp"></ion-icon>
  <ion-icon size="large" slot="end" style="margin-left: 5px;" color="success" name="radio-button-{{BIT5? 'on' : 'off' }}-sharp"></ion-icon>
  <ion-icon size="large" slot="end" style="margin-left: 5px;" color="success" name="radio-button-{{BIT4? 'on' : 'off' }}-sharp"></ion-icon>
  <ion-icon size="large" slot="end" style="margin-left: 5px;" color="success" name="radio-button-{{BIT3? 'on' : 'off' }}-sharp"></ion-icon>
  <ion-icon size="large" slot="end" style="margin-left: 5px;" color="success" name="radio-button-{{BIT2? 'on' : 'off' }}-sharp"></ion-icon>
  <ion-icon size="large" slot="end" style="margin-left: 5px;" color="success" name="radio-button-{{BIT1? 'on' : 'off' }}-sharp"></ion-icon>
  <ion-icon size="large" slot="end" style="margin-left: 5px;" color="success" name="radio-button-{{BIT0? 'on' : 'off' }}-sharp"></ion-icon>
</ion-buttons>
