<div style="height: 140px; display: flex;">
  <div class="sm-kb free map">
    <p>ZeroPage 0x0000 - 0x00FF</p>
  </div>
  <div class="sm-kb stack map">
    <p>Stack 0x0100 - 0x01FF</p>
  </div>
  <div class="lg-kb free map">
    <p>Free 0x0200 - 0x5FFF</p>
  </div>
  <div class="sm-kb via map">
    <p>VIA 0x6000 - 0x6FFF</p>
  </div>
  <div class="sm-kb free map">
    <p>Free 0x7000 - 0x7FF0</p>
  </div>
  <div class="lg-kb rom map">
    <p>Rom 0x8000 - 0xFFF9</p>
  </div>
</div>

<ion-row>
  <ion-col size="12">
    <h4>System Vectors</h4>
    <p>Random: 0x00FE</p>
    <!-- <p>Last Key Pressed: 0x00FF</p> -->
    <p>NMI: 0xFFFA</p>
    <p>RESET: 0xFFFC</p>
    <p>IRQ: 0xFFFE</p>
  </ion-col>
</ion-row>