.map{
    padding: 5px;
    border: 1px solid gray
}

.sm-kb {
    width: 100px;
}

.lg-kb {
    width: 400px;
}

.ram{
    
    background: rgba(255, 184, 3, 0.816);
}

.via{
    background: rgba(73, 255, 53, 0.784);
}

.stack{
    background: rgba(255, 3, 3, 0.816);
}

.free{
    background: rgba(56, 53, 255, 0.784);
}

.rom{
    background: rgba(239, 14, 228, 0.816);
}
