<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-thumbnail>
        <img src="assets/icon/6502.png" alt="icon">
      </ion-thumbnail>
    </ion-buttons>
    
    <ion-title>
      {{pageTitle}}
    </ion-title>

    <ion-buttons slot="end">
      <button #modalTrigger [ngStyle]="{display: 'none'}" id="open-modal" expand="block"></button>
      <ion-button id="popover-button">
        Options
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>

      <ion-popover mode="ios" trigger="popover-button" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item href="https://www.masswerk.at/6502/6502_instruction_set.html" target="_black" [button]="true" [detail]="true">Instruction Set</ion-item>
              <ion-item href="https://www.middle-engine.com/blog/posts/2020/06/23/programming-the-nes-the-6502-in-detail" target="_blank" [button]="true" [detail]="true">6502 in detail</ion-item>
              <ion-item href="https://www.youtube.com/watch?v=LnzuMJLZRdU&list=PLowKtXNTBypFbtuVMUVXNR0z1mu7dp7eH" target="_blank" [button]="true" [detail]="true">6502 from scratch</ion-item>
              <ion-item href="https://opensource.org/licenses/MIT" target="_blank" [button]="true" [detail]="true">License</ion-item>
              <ion-item (click)="about()" [button]="true" [detail]="false">About?</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>

    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{pageTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row style="height: 90vh;">
      <ion-col size="12" size-md="6" size-lg="7" style="border-left: .4px solid grey;">
        <ion-accordion-group [multiple]="true" [value]="['code']">
          <ion-accordion value="code" >
            <ion-item slot="header" color="light">
              <ion-label>ASSEMBLER</ion-label>
            </ion-item>
            <div slot="content" style="height: 70vh;">
              <app-code></app-code>
            </div>
          </ion-accordion>
          <ion-accordion value="memory">
            <ion-item slot="header" color="light">
              <ion-label>MEMORY</ion-label>
            </ion-item>
            <div slot="content">
              <app-mem-buffer></app-mem-buffer>
            </div>
          </ion-accordion>
          <ion-accordion value="memory-map">
            <ion-item slot="header" color="light">
              <ion-label>MEMORY LAYOUT</ion-label>
            </ion-item>
            <div class="sm-width" slot="content">
              <app-mem-map></app-mem-map>
            </div>
          </ion-accordion>
          <ion-accordion value="schematic">
            <ion-item slot="header" color="light">
              <ion-label>SCHEMATIC</ion-label>
            </ion-item>
            <div class="sm-width" slot="content">
              <app-schematic></app-schematic>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="5" style="border-left: .4px solid grey;">
        <ion-accordion-group [multiple]="true" [value]="['lcd', 'cpu']">
          <ion-accordion value="lcd">
            <ion-item slot="header" color="light">
              <ion-label>HD44780</ion-label>
            </ion-item>
            <div slot="content">
              <app-lcd ></app-lcd>
            </div>
          </ion-accordion>
          <ion-accordion value="via" >
            <ion-item slot="header" color="light">
              <ion-label>Versatile Interface Adapter (VIA)</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" >
              <app-via></app-via>
            </div>
          </ion-accordion>

          <ion-accordion value="cpu" >
            <ion-item slot="header" color="light">
              <ion-label>CPU</ion-label>
            </ion-item>
            <div slot="content">
              <app-cpu></app-cpu>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal #modal [isOpen]="isModalOpen" [backdropDismiss]="false" trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-grid>
          <ion-col size="12">
            <ion-toolbar>
              <ion-thumbnail slot="start">
                <img src="assets/icon/6502.png" alt="logo">
              </ion-thumbnail>
              <ion-title size="large">
                <h1>6502 8-Bits Computer. {{version}}</h1>
              </ion-title>
            </ion-toolbar>
            <ion-text [ngStyle]="{
              height: '45vh',
              overfloat: 'scroll',
              padding: '2em'
            }">
            <h3>What</h3>
            <p>Emulation of a simple 8-Bits computer based on the famous 6502 chip.
            Supports the original 56 legal instructions even interrupts like NMI and IRQ. Inspired in the
              <a href="https://www.youtube.com/watch?v=LnzuMJLZRdU&list=PLowKtXNTBypFbtuVMUVXNR0z1mu7dp7eH" target="_blank" rel="noopener noreferrer">Ben Eater 6502 YouTube</a> Serie.</p>
            <p>The 6502 code is a port to typescript from the <a href="https://www.youtube.com/watch?v=8XmxKPJDGU0" target="_blank" rel="noopener noreferrer">javidx9 C++ 6502 Implementation</a>.</p>
            
            <p>The assembler code is a port to typescript from the <a href="https://github.com/NesHacker/6502" target="_blank" rel="noopener noreferrer">NesHacker 6502 JavaScript utility for 6502 programming,</a> which has been extended with extra commands to support label address at compile time.</p>
            
            <h3>Assembler Commands</h3>
            
            <h4>.org</h4>
            This command set the absolute program address at the point of invocation. It is
            useful for defining patch segements for ROM hacks.
            <p>
              <code>
                .org $8000 ; Set the absolute program offset to $8000
              </code>
            </p>

            <h4>.addr</h4>
            This command set the absolute program address of a label.
            Useful for defining label address.
            <p>
              <code>
                .addr my_label    ; Place the address of my_label
              </code>
            </p>
            
            <h4>.word</h4>
            This defines 2 bytes to be processed by the assembler. Useful
            for defining configuration bytes or some address.
            <p>
              <code>
                .word $FFFC     ; Literal 2 bytes: $FF, $FC
              </code>
            </p>
            
            <h4>.byte or .byt</h4>
            This defines a run of arbitrary bytes to be processed by the assembler. Useful
            for defining lookup tables or text segments.
            <p>
              <code>
                .byte "Hello" ; Literal bytes: $48, $65, 6C, $6C, $6F
              </code>
            </p>
            <p>
              <code>
                .byte 16, 32, 64 ; Literal bytes: $10, $20, $40
              </code>
            </p>
            
            <h3>Memory Layout</h3>
            
            <p>There is 64KB of memory and this is broken into:</p>

            <p>0x0000 - 0x00FF - Free (Zero Page).</p>
            
            <p>0x0100 - 0x01FF - Stack.</p>
            
            <p>0x0200 - 0x5FFF - Free.</p>
            
            <p>0x6000 - 0x6FFF - VIA - Versatile Interface Adapter.</p>
            
            <p>0x6000 - 0x6000 - VIA - PortB Register.</p>
            
            <p>0x6001 - 0x6001 - VIA - PortA Register.</p>
            
            <p>0x6002 - 0x6002 - VIA - PortB Direction Data Register.</p>
            
            <p>0x6003 - 0x6003 - VIA - PortA Direction Data Register.</p>
            
            <p>0x60FE - 0x60FE - VIA - Random Value Register.</p>
            
            <p>0x7000 - 0x8000 - Free.</p>
            
            <p>0x8000 - 0xFFF9 - Program - always make sure to assemble programs for this address.</p>
            
            <p>0xFFFA - 0xFFFA - NMI - Non-Maskable Interrupt Vector Location.</p>
            
            <p>0xFFFA - 0xFFFC - RESB - Reset Vector Location.</p>
            
            <p>0xFFFA - 0xFFFE - IRQB - Interrupt Request Vector Location.</p>
            </ion-text>
          </ion-col>
        </ion-grid>

      </ion-content>
      <ion-footer>
        <ion-toolbar color="primary">
          
            <ion-item color="primary" slot="start" (click)="dontShowModal()">
              <ion-checkbox color="tertiary" slot="start"></ion-checkbox>
              <ion-label>Don't show again</ion-label>
            </ion-item>
          

          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Continue</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>

</ion-content>
