<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-thumbnail>
        <img src="assets/icon/6502.png" alt="icon">
      </ion-thumbnail>
    </ion-buttons>
    
    <ion-title>
      {{pageTitle}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button id="popover-button">
        Options
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>

      <ion-popover mode="ios" trigger="popover-button" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item href="https://www.middle-engine.com/blog/posts/2020/06/23/programming-the-nes-the-6502-in-detail" target="_blank" [button]="true" [detail]="true">6502 in detail</ion-item>
              <ion-item href="https://www.youtube.com/watch?v=LnzuMJLZRdU&list=PLowKtXNTBypFbtuVMUVXNR0z1mu7dp7eH" target="_blank" [button]="true" [detail]="true">6502 from scratch</ion-item>
              <ion-item href="https://opensource.org/licenses/MIT" target="_blank" [button]="true" [detail]="true">License</ion-item>
              <ion-item (click)="about()" [button]="true" [detail]="false">About?</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>

    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{pageTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row style="height: 90vh;">
      <ion-col size="12" size-md="6" size-lg="7" style="border-left: .4px solid grey;">
        <ion-accordion-group [multiple]="true" [value]="['code']">
          <ion-accordion value="code" >
            <ion-item slot="header" color="light">
              <ion-label>ASSEMBLER</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" style="height: 70vh;">
              <app-code></app-code>
            </div>
          </ion-accordion>
          <ion-accordion value="memory">
            <ion-item slot="header" color="light">
              <ion-label>MEMORY</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <app-mem-buffer></app-mem-buffer>
            </div>
          </ion-accordion>
          <ion-accordion value="memory-map">
            <ion-item slot="header" color="light">
              <ion-label>MEMORY LAYOUT</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <app-mem-map></app-mem-map>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="5" style="border-left: .4px solid grey;">
        <ion-accordion-group [multiple]="true" [value]="['via', 'cpu']">
          <ion-accordion value="via" >
            <ion-item slot="header" color="light">
              <ion-label>Versatile Interface Adapter (VIA)</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" >
              <app-via></app-via>
            </div>
          </ion-accordion>

          <ion-accordion value="cpu" >
            <ion-item slot="header" color="light">
              <ion-label>CPU</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <app-cpu></app-cpu>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
