<ion-buttons>
  <ion-title slot="start">
    <h2>From: {{FROM | uppercase}} - To: {{TO | zeropad: 4}}</h2>
  </ion-title>

  <input type="text" [(ngModel)]="FROM" style="width: 4em;" maxlength="4">
  <ion-button slot="end" fill="solid" (click)="load()">LOAD</ion-button>
  <ion-button slot="end" fill="solid" (click)="clear()">CLEAR</ion-button>
</ion-buttons>

  <table id="customers">
    <thead>
      <tr>
        <th>-</th>
        <th *ngFor="let col of LSB_COLS">{{col | zeropad: 2}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of MSB_COLS">
        <td>{{row | zeropad: 4}}</td>
        <td *ngFor="let col of getCols(row)" >
          {{col | zeropad: 2}}
        </td>
      </tr>
    </tbody>
  </table>
  