.container{
    height: 50%;
    overflow-y: scroll;
    border: .5px solid gray;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    padding: 6px;
    margin: 2px;
    text-align: center;
  }
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
  }