<ion-card>
  <ion-card-subtitle style="margin-left: 1em;">
    LCD hd44780 {{CHARS_PER_LINE}}x2
  </ion-card-subtitle>
  <ion-range [ngStyle]="{padding: '0px'}" (ionChange)="fillText()" [max]="1" [step]=".1" [min]=".2" [(ngModel)]="contrast">
    <ion-icon slot="end" name="sunny-outline"></ion-icon>
  </ion-range>
  <ion-card-content style="padding: 0px;">
    <!-- <textarea #lcd [(ngModel)]="lcdCtrl.chars" readonly class="dottedText {{lcdCtrl.displayOnOff? 'lcd-on' : 'lcd-off'}}" name="display" id="display" cols="16" rows="2" maxlength="32"></textarea> -->
    <canvas #screen id="screen"></canvas>
  </ion-card-content>
</ion-card>