ion-card{
    
    ion-card-content{
        padding: 0px;
        margin-left: 1em;
        margin-top: 0.3em;
    }
    
    ion-card-subtitle{
        margin-left: 1em;
        margin-top: 0.5em;
        padding: 0;
    }
    
}

.lcd-on{
    background-color: var(--ion-color-warning);
}

.lcd-off{
    background-color: rgb(3, 33, 3);
}

#display{
    color: black;
    border: none;
    resize: none;
    width: 100%;
    
    font-size: x-large;
    font-family: revert;
    font-weight: bold;
    padding: 1em;
}

.dottedText:after
{
    content: '';
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent 50%, transparent 50%),
    radial-gradient(circle, transparent 20%, white 50%) 30px 30px;
    background-size:4px 4px;
}